body {
  background-color: rgba(209, 205, 205, 0.712);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.div-registrar {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos hijos horizontalmente */
  background-color: rgb(255, 255, 255);
  width: 300px; /* Reduzco el ancho de la tarjeta */
  padding: 20px; /* Añado espacio interno para los elementos internos */
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.div-registrar input {
  margin: 10px 0;
  padding: 8px; /* Reduzco el espacio interno de los inputs */
  width: 100%;
}

.div-registrar button {
  margin: 10px 0;
  padding: 8px 15px; /* Ajusto el tamaño de los botones */
}

