/* .div-component{
    
} */

.component-card{
    background-color: white;
   border-radius: 10px;
   width: 500px;
   height: 100px;
   margin: 50px;
   box-shadow:2px 5px 2px 1px rgba(0, 0, 0, 0.2); ;
}

.div-component{
    margin: 10px;
    text-align: center;
}
.div-contenido{
    margin: 10px;
    text-align: center;
}
