.div-content-card{
    background-color: rgba(86, 171, 211, 0.808);
    width: 200px;
    height: 250px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    
}
.div-h4{
    text-align: center;
}
.div-input {
    display: flex;
    justify-content: center;
  

}
.div-input input[type="text"],[type="text"]{
    width: 90%;
    margin-top: 15px;
    border: none;
    line-height: 2;
    border-radius: 2px;
}

.div-input ::placeholder{
    text-align: center;
    color: rgba(6, 19, 31, 0.568);
}

.div-submit{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}
.div-submit input{
    background-color: rgba(106, 180, 214, 0.808);
    border: none;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
}

.div-p{
    font-size: 10px;
    text-align: center;
}